################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/MoriaMinesGame/v15
/MoriaMines/bin/Debug/HighScores.txt